model_config_list {
  config {
    name: 'sleepstage-serving'
    base_path: '/mnt/DataSet2/SleepStage_checkpoint/ppg_acc_3classes_norm_hsat_improvedcoattention_250_Cate_v18r/serving_model'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
}